html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: black;
}

#game-area {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

#canvas {
  position: relative;
}

.tile {
  user-select: none;
  pointer-events: none;
  background-color: black;
  box-sizing: border-box;
}

.wall {
  border: 1px solid blue;
}

/* .wall::after {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  background-image: url(../assets//tiles.webp);
  background-position: -225px -33px;
} */

.food,
.pill {
  display: flex;
  justify-content: center;
  align-items: center;
}

.food::after {
  content: "";
  width: 4px;
  height: 4px;
  background-color: white;
  border-radius: 1px;
}

.pill:after {
  content: "";
  width: 10px;
  height: 10px;
  background-color: yellow;
  border-radius: 4px;
}

.game-map {
  display: grid;
}

#player,
.ghost {
  overflow: hidden;
  object-fit: contain;
  pointer-events: none;
  user-select: none;
  box-sizing: border-box;
  z-index: 1;
}
